HOST=0.0.0.0
PORT=1337
APP_KEYS=generate-with-openssl-rand-base64-32-key1-here,generate-with-openssl-rand-base64-32-key2-here
API_TOKEN_SALT=generate-with-openssl-rand-base64-32-here
ADMIN_JWT_SECRET=generate-with-openssl-rand-base64-32-here
TRANSFER_TOKEN_SALT=generate-with-openssl-rand-base64-32-here
JWT_SECRET=generate-with-openssl-rand-base64-32-here

DATABASE_CLIENT=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=change-me-in-production

DATABASE_SSL=false
DATABASE_SSL_REJECT_UNAUTHORIZED=true

CORS_ORIGINS=http://localhost:3000,http://localhost:3333
STRAPI_WEBHOOK_URL=
STRAPI_WEBHOOK_SECRET=
